<div>
  <h1>Password Generator</h1>
  <label for="input">Enter length</label>
  <input type="text" id="input">
</div>

<div>
  <label for="input2">use letters</label>
  <input type="checkbox" id="input2">
</div>

<div>
  <label for="input3">use numbers</label>
  <input type="checkbox" id="input3">
</div>

<div>
  <label for="input4">use symbols</label>
  <input type="checkbox" id="input4">
</div>

<div>
  <button (click)="onButtonClick()">Generate</button>
</div>

<div>
  <label for="input5">Your Password</label>
  <input type="text" id="input5">
</div>
